.reveal pre {
  font-size: 0.6em;
  box-shadow: none;
  padding: 0.1em;
}

.klipse-snippet {
  border: solid #92DA55 1px !important;
}

.klipse-result {
  border: solid #91B3FB 1px !important;
}

code {
  background-color: #F8F8F8;
  font-family: 'FiraCode', monospace !important;
}

.CodeMirror {
  font-family: 'FiraCode', monospace !important;
  font-size: 0.6em !important;
}

.CodeMirror-cursor {
  border-left: 1px solid black !important;
}

.CodeMirror-scroll {
  padding-bottom: 30px !important;
  margin-bottom: -30px !important;
}
